body {
    background: linear-gradient(90deg,red, blue, green, yellow);
}

div {
    width: 500px;
    height: 500px;
    background-color: #323232;
    border-radius: 50%;
    border: rgb(209, 46, 46), 3px, solid;
}
